html {
    background-color: black;
    color: white;
    font-family: 'Didact Gothic';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #f4a7bb;
    height: 15%;
    width: 100%;
    margin-bottom: 1%;
}

img {
    border-radius: 5mm;
    border: .5mm solid #f4a7bb;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: black;
    margin: 5%;
    border-radius: 5mm;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    padding: 2mm;
}

.section {
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text {
    background-color: #f4a7bb;
    border-radius: 5mm;
    margin: 1%;
    font-size: larger;
    /* margin-bottom: 3%; */
}

p {
    padding: 2mm;
}

.grid {
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 1%;
    margin-top: 0%;
    padding: .5%;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4a7bb;
    border-radius: 5mm;
}

h1 {
    margin-top: 0%;
    margin-bottom: 0%;
}

h2 {
    margin-top: 0%;
    margin-bottom: 0%;
}

.title {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 7em;
    width: 100%;
    text-align: center;
}

a {
    color: white;
}
